doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css')
    script(type="text/javascript", src="/vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js")
  body
    block content
